<div class="home__container">

 
    <app-card 
    
        gameCover = "assets/driver2.jpg"

        gameLabel = "DIGITAL"

        gameType = "DIGITAL | PS4"

        gamePrice = "250,00"

    ></app-card>

    <app-card 
    
        gameCover = "assets/needforspeed4.png"

        gameLabel = "Exclusive"

        gameType = "DISC | PS5"

        gamePrice = "RS 200,00"

    ></app-card>

    <app-card 
    
    gameCover = "assets/sonic.jfif"

    gameLabel = "Exclusive"

    gameType = "DISC | PS1"

    gamePrice = "RS 100,00"

></app-card>


</div>
